/*-------------------
--- CAROUSEL SECTION--- 
--------------------*/
.hero-area {
    z-index: 0;
    overflow: visible;
}

.hero-area .hero-wrapper {
    height: 95vh;
}

.hero-area .bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-area .text-hero {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: left;
    justify-content: center;
    max-width: 80%;
    margin: 0;
    padding: 0 0px;
}

.hero-area .bg-overlay-2by5::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.637);
    z-index: 1;
}

.hero-wrapper .carousel,
.hero-wrapper .carousel-inner,
.hero-wrapper .carousel-item,
.hero-wrapper .bg-img {
    height: 100%;
}

@media (max-width: 768px) {
    .hero-wrapper {
        height: 85vh;
    }

    .hero-area .text-hero {
        text-align: left;
        margin-left: 5px;
        padding-left: 5px;
        max-width: 95%;
    }
}

.hero-area .carousel-fade .carousel-item {
    transition: opacity 0.5s ease-in-out !important;
}

.hero-area .carousel-indicators button {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    margin-top: -60px;
}

/*-------------------
--- STATISTIK SECTION--- 
--------------------*/
.statistik {
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    border-radius: 12px;
    margin-top: -50px;
}

.statistik .horizontal-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
    padding: 25px;
}

.statistik .stats-card .title {
    font-weight: 700;
    font-size: var(--fs-xl);
    margin-bottom: 10px;
}

.statistik .stats-card .desc {
    font-weight: 400;
    font-size: var(--fs-base);
    line-height: 1.5;
}

.statistik .link-sambutan {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}

.statistik .link-sambutan:hover {
    text-decoration: underline;
    color: #00a98f;
}

.statistik .foto-kepsek {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.statistik .stat-number {
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 1;
}

.statistik .stat-label {
    margin-top: 8px;
    font-size: var(--fs-sm);
    color: #777;
}

.statistik .btn-stat {
    background-color: #00a98f;
    color: #fff;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.statistik .btn-stat-outline {
    background-color: transparent;
    border: 1px solid #00a98f;
    color: #00a98f;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.statistik .btn-stat-outline:hover {
    background-color: #00a98f;
    color: #fff;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

/*-------------------
--- ABOUT SECTION--- 
--------------------*/

@media (max-width: 768px) {
    .statistik.container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        margin-top: -30px;
    }

    .statistik .horizontal-card {
        border-radius: 0;
        padding: 20px 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

.about {
    margin-bottom: 40px;
    margin-top: 40px;
}

.about .content {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 10px 0;
}

.about .image-wrapper {
    position: relative;
}
.about .image-wrapper img {
    border-radius: 10px;
}

.about .answer {
    font-family: var(--font-body);
    font-size: var(--fs-base);
    font-weight: 400;
    color: var(--color-gray-500);
    text-transform: uppercase;
}

.about .title {
    font-size: var(--fs-2xl);
    font-weight: 700;
    color: #00a98f;
}

.about .text {
    color: var(--color-black);
    line-height: 1.8;
    font-size: var(--fs-md);
    font-family: var(--font-body);
}

.about .btn-outline-secondary:hover {
    color: #fff;
    border-color: #0d6efd;
}

@media (max-width: 768px) {
    .about .content {
        display: block;
        margin: 20px 0;
    }
    .about .answer {
        margin-top: 10px;
    }
}

/*------ Artikel ------*/
.artikel {
    background: #e1f1ff;
    padding: 30px 0;
}

.artikel .section {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: var(--fs-base);
    color: #ffffff;
    background-color: #ffc300;
    border-radius: 5px;
    display: inline-flex;
    padding: 6px 10px;
}

.artikel .judul {
    font-weight: 700;
    font-size: var(--fs-2xl);
    margin-bottom: 3px;
}

.artikel .desc {
    opacity: 0.9;
    font-weight: 400;
    font-size: var(--fs-base);
    margin-bottom: 10px;
}

.artikel .card {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artikel .card img {
    height: 180px;
    object-fit: cover;
}

.artikel .card:hover .card-img-top {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.artikel .card .card-title {
    font-weight: 700;
    font-size: var(--fs-base);
    text-transform: uppercase;
}

.artikel .card .card-text {
    font-weight: 400;
    font-size: var(--fs-sm);
    color: #3f3f3f;
}

.artikel .card-body {
    display: flex;
}

.artikel .card-body .kategori {
    background-color: #00a99042;
    color: #00a98f;
    font-weight: 400;
    font-size: var(--fs-xs);
    padding: 2px 6px;
    margin: 2px 0px;
    border-radius: 3px;
}

.artikel .card-body .text-muted {
    color: #ffffff77;
    font-weight: 400;
    font-size: var(--fs-xs);
    padding: 2px 6px;
    margin: 2px 0px;
    border-radius: 2px;
}

.artikel .btn-lihat {
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #00a98f;
    color: #00a98f;
    border-radius: 30px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.artikel .btn-lihat:hover {
    color: #ffffff;
    background-color: #00a98f;
}

/* Gallery Section */
.gallery {
    background: #f0f8ff;
    padding: 30px 0;
}

.gallery .section {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: var(--fs-base);
    color: #ffffff;
    background-color: #ffc300;
    border-radius: 5px;
    display: inline-flex;
    padding: 6px 10px;
}

.gallery .judul {
    font-weight: 700;
    font-size: var(--fs-2xl);
    margin-bottom: 3px;
}

.gallery .desc {
    opacity: 0.9;
    font-weight: 400;
    font-size: var(--fs-base);
    margin-bottom: 10px;
}

.gallery .scroll {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery .scroll::-webkit-scrollbar {
    display: none;
}

.gallery .item {
    flex: 0 0 clamp(160px, 40vw, 240px);
    height: clamp(200px, 45vw, 320px);
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 480px) {
    .gallery .scroll .item {
        min-width: 150px;
        max-width: 150px;
        height: 200px;
    }
}

.gallery .card-gallery {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.card-gallery:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.gallery .item img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: auto;
}

.gallery .overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.gallery .text-overlay {
    color: #fff;
    font-weight: 500;
    font-size: var(--fs-base);
    position: relative;
    z-index: 3;
}

.gallery .active .overlay {
    opacity: 1;
    pointer-events: auto;
}

#galleryContainer::-webkit-scrollbar {
    display: none;
}
#galleryContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery .btn-lihat {
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #00a98f;
    color: #00a98f;
    border-radius: 30px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.gallery .btn-lihat:hover {
    color: #ffffff;
    background-color: #00a98f;
}

/* PTN SECTION */
.ptn {
    background-color: #f8f9fa;
    padding: 30px 0;
}

.ptn .section {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: var(--fs-base);
    color: #ffffff;
    background-color: #ffc300;
    border-radius: 5px;
    display: inline-flex;
    padding: 6px 10px;
}

.ptn .judul {
    font-weight: 700;
    font-size: var(--fs-2xl);
    margin-bottom: 3px;
}

.ptn .desc {
    opacity: 0.9;
    font-weight: 400;
    font-size: var(--fs-base);
    margin-bottom: 10px;
}

.ptn .scroll {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ptn .item {
    flex: 0 0 clamp(160px, 40vw, 240px);
}

.ptn .card-ptn {
    position: relative;
    width: 100%;
    height: clamp(220px, 50vw, 320px);
    border-radius: 10px;
    overflow: hidden;
}

.ptn .card-ptn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OVERLAY */
.ptn .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0));
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
}
.ptn .card-ptn:hover .overlay {
    opacity: 0;
    pointer-events: auto;
}

.ptn .overlay img {
    top: 8px;
    left: 8px;
    height: 40px;
    width: 40px;
    object-fit: contain;

    position: relative;
    z-index: 2;
}

.ptn .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 70px;
    height: 70px;

    background: #fff;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 10%;

    z-index: 1;
}

.ptn .overlay .text {
    position: relative;
    text-align: center;
    bottom: 10px;
    z-index: 2;
}

.ptn .overlay h2 {
    font-size: var(--fs-base);
    margin-bottom: 3px;
    font-weight: 700;
}

.ptn .overlay h5 {
    font-size: var(--fs-base);
    font-weight: 200;
}
