/* FASILITAS MODERN */
.fasilitas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
}

.card-fasilitas {
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    position: absolute;
    transition:
        box-shadow 0.25s,
        transform 0.22s cubic-bezier(0.4, 2, 0.6, 1);
    display: flex;
    flex-direction: column;
}

.card-fasilitas img {
    width: 100%;
    object-fit: cover;
}

.card-fasilitas:hover img {
    transform: scale(1.03);
}

.card-fasilitas .overlay {
    position: absolute;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );
    text-align: center;
}

.card-fasilitas .overlay h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
/* IMG FLUID */
.img-sambutan {
    max-width: 320px;
    margin: auto;
}

.img-sambutan img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Card */
.card-fasilitas {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    height: 280px;
}

.card-fasilitas img {
    width: 100%;
    display: block;
    height: 280px;
    object-fit: cover;
    transition: 0.3s ease;
}

/* Overlay */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.overlay h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* GURU */

.container-guru {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.card-guru {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.card-guru img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

.card-body-guru {
    padding: 12px;
    background: #ffffff;
}

.name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.title {
    font-size: 13px;
    color: #555;
}

.card-guru:hover img {
    transform: scale(1.01);
}

.visi-misi {
    padding: 20px 0;
    margin: 20px 0;
}

.visi-misi h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.visi-misi .visi p,
.visi-misi .misi li {
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    margin: 10px 0;
}
