#wa-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: max-content;
    height: max-content;
    display: inline-block;
}

/* Button */
#wa-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #25d366;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Popup */
#wa-popup {
    position: absolute;
    bottom: 70px;
    right: 10px;

    background: white;
    color: #333;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: var(--fs-sm);

    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    pointer-events: none;

    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease;
}

/* Arrow kecil */
#wa-popup::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
}

/* Show popup */
#wa-popup.show {
    opacity: 1;
    transform: translateY(0);
}

/* 🔥 MUNCUL SAAT HOVER */
#wa-button:hover + #wa-popup,
#wa-popup:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
